<%- layout('layout') -%>
<div class="container" style="min-height: 400px">
  <hr>
  <div id="frames" class="container">
    <div class="row-fluid">
      <div>name: <%-profile.displayname%></div>
      <div>reg date: <%-profile.regdt%></div>
      <div>rating: <%-profile.forum_rating%></div>
      <div>messages: <%-profile.forum_messages%></div>
    </div>
  </div>
</div>